  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');
  html {
    scroll-behavior: smooth;
}
  body{
    margin: 0%;
    background-color: #DDC7AB;
}
header{
    background: #171614;
    width: 100vw;
    height: 30vh; /*vh es el tamano relativo a la ventana*/
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border: none;
}
nav {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;
}
#menu {
    font-family: 'Lobster', sans-serif;
    font-size: 30pt;
    margin-right: 10px;
}
#michaelsito {
    width: 8%;
    height: 6%;
    margin-right: 150px;
}
#pagina {
    text-decoration: none;
    color: #171614;
    font-size: 20pt;
    margin-right: 70px;
}
#contprincipal {
    display: flex;
}
main {
    margin-top: 50px;
    background-color: #171614;
}
#texto {
    margin-right: 50px;
}
#popantiguo, #popactual, #historia {
    margin-top: 50px;
    margin-left: 30px;
    font-family: 'Lobster', sans-serif;
}
#contenido {
    margin-top: 30px;
    margin-left: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
aside {
    margin-top: 90px;
    
}
#botonesdisc {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#disco50, #disco80, #disco100 {
    background-color: #c5a985;
    border-radius: 10px;
    border-spacing: 10px;
}
#verCarrito {
    margin-top: 30px;
    background-color: #c5a985;
    border-radius: 30px;
}
#botonesdisc img {
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer {
    flex: 1; /*nota mental, esto mantiene el footer abajo xd*/
    background-color: #171614;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 90px;
}
#textofinal {
    color: aliceblue;
    margin-top: 30px;
}
body.cambioColores {
    background-color: #1784f2;
    color: #ffffff;
}
#queen, #eilish, #caminando {
    width: 990px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 50px;
}