  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');
html {
    scroll-behavior: smooth;
}
  body{
    margin: 0%;
    background-color: #DDC7AB;
}
header{
    background: #171614;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    border: none;
}
nav {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    align-items: center;
}
#menu {
    font-family: 'Lobster', sans-serif;
    font-size: 30pt;
    margin-right: 10px;
}
#pagina {
    text-decoration: none;
    color: #171614;
    font-size: 20pt;
    margin-right: 130px;
}
#contprincipal {
    display: flex;
}
main {
    margin-top: 50px;
    background-color: #171614;
}
#texto {
    margin-right: 50px;
}
#contenido {
    margin-top: 30px;
    margin-left: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
aside {
    margin-top: 90px;
    
}
footer {
    flex: 1; /*nota mental, esto mantiene el footer abajo xd*/
    background-color: #171614;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 90px;
}
#textofinal {
    color: aliceblue;
    margin-top: 30px;
}
body.cambioColores {
    background-color: #1784f2;
    color: #ffffff;
}
#titulo {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
#paginas {
    margin-left: 300px;
}
#arriba {
    display: flex;
    padding: 30px;
    margin-left: 110px;
}
#contprincipal {
    margin-left: 50px;
    margin-top: 50px;
}
#fotos {
    height: 250px;
margin-left: 300px;
}
iframe {
    margin-right: 15px;
}